.container {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    max-width: 480px; 
    margin: 0 auto; 
}

.todoList {
    min-height: 400px;
    list-style: none;
}


.todoItem {
    display: flex; 
    align-items: center; 
    padding: 10px;
    border-bottom: 1px solid #ddd; 
    cursor: pointer;
    

    &:hover {
        background-color: #e0e0e0; 
        transform: scale(1.02); 
    }
}
.todoItem span {
    flex-grow: 1; 
}
.completed {
    text-decoration: line-through; 
    color: #888; 
}

