.label {
    width: 300px;
    height: 90px;
  }
  .text{
    margin-bottom: 10px;
  }

  .inputs{
       width: 240px;
      height: 30px;
      border: 1px;
      border-radius: 4px;
      outline: none;
      list-style-type:none;
       background-color:whitesmoke;
      padding-left: 10px;
      margin-bottom: 20px;
  }


span {
  margin-top: 10px;
}